*{
	font-style: normal;
}
.w28{
	width:28%;
}
.w50{
	width:50%;
}
.w60{
	width:60%;
}
.page-input{
	width:60px;
}
.main-container:before{
	background:#fff;
}

.fixed-table-pagination div.pagination .pagination{
	margin-top: 15px;
}
.menu-box{
	width:100%;
	/*overflow: scroll;*/
}
.menu-nav{
	margin:0;
	padding-top:15px;
	padding-left:25px;
	overflow:hidden;
	background:#ececec;
	border-top:1px solid #dcdcdc;
	border-bottom:1px solid #e3e3e3;
	/*min-width: 1500px;*/
}
.nav-btn{
	display: inline-block;
    height: 30px;
    background: #f5f5f5;
    border-radius: 4px;
    border: 1px solid #cdcdcd;
    font-size: 14px;
    color: #333;
    outline: none;
    text-align:center;
    line-height: 30px;
    padding:0 10px ;
    margin-left: 5px;   
}
.nav-btn:hover{
	background:#E3E3E3;
	cursor: pointer;
}
.menu-nav li{
	width:150px;
	height:43px;
	line-height:43px;
	float:left;
	font-size:16px;
	text-align:center;
	color:#333;
	background:#e3e3e3;
	margin-left:10px;
	border:1px solid #cdcdcd;
	border-bottom:0;
	border-top-left-radius:4px;
    border-top-right-radius:4px;
	cursor:pointer;
}
.menu-nav li a{
    width:100%;
    height:43px;
    display:block;
	font-size:16px;
	color:#333;
	text-decoration:none;
}
.menu-nav li.menu-nav-pick{
	background:#ff6f41;
	border:1px solid #ff6f41;
	border-bottom:0;
	color:#fff;
}
.menu-nav li.menu-nav-pick a{
	color:#fff;
}
.search-keylist{
	width:100%;
	/*min-width: 1500px;*/
	overflow:hidden;
	margin-top:30px;
	padding-left:40px;
}
.search-keylist li{
	overflow:hidden;
	float:left;
}



.search-keylist .search-fircell{
	width:33%;
	
}
.search-keylist .search-seccell{
	width:15%;
}
.search-keylist .search-thrcell{
	width:16%;
}
.search-keylist .search-fourcell{
	width:20%;
}
.search-keylist li .search-input{
	height:40px;
	padding-left:10px;
	border-top-left-radius:4px !important;
	border-bottom-left-radius:4px !important;
	border:1px solid #cdcdcd;
	border-right:0;
}
.search-keylist .search-thrcell .search-input{
	border-radius:4px !important;
	border-right:1px solid #cdcdcd;
}

.search-keylist .time-range{
	width: 400px;
}
.search-keylist .time-range span{
	width: 50px;
}
.search-keylist .select-item{
	width: 220px;
}
.search-keylist .select-item span{
	width: 50px;
}
.search-keylist .input-item{
	width: 220px;
}
.search-keylist .input-item span{
	width: 50px;
}


.search-keylist li .search-button{
	width:70px;
	height:40px;
	background:#f5f5f5;
	border-radius:4px;
	border:1px solid #cdcdcd;
	font-size:14px;
	color:#333;
	outline:none;
}
.search-keylist li .search-button:hover{
	background:#ebeaea;
}
.search-keylist li .search-reset{
	height:40px;
	padding-left:23px;
	background:url(../img/icon/icon_chongzhi.png) no-repeat left center;
	border:0;
	font-size:14px;
	color:#333;
	margin-left:14px;
	outline:none;
}
.search-keylist li .search-icon-v{
	width:40px;
	height:40px;
	border-top-right-radius:4px !important;
	border-bottom-right-radius:4px !important;
	border:1px solid #cdcdcd;
	border-left:0;
	background:#fff url(../img/icon/icon_v.png) no-repeat center center !important;
	cursor:pointer;
}
.search-keylist li .search-icon-sous{
	width:40px;
	height:40px;
	border-top-right-radius:4px !important;
	border-bottom-right-radius:4px !important;
	border:1px solid #cdcdcd;
	border-left:0;
	background:#fff url(../img/icon/icon_sous.png) no-repeat center center !important;
	cursor:pointer;
}
.search-keylist li .search-select{
	height:40px;
	padding-left:10px;
	border-radius:4px !important;
	border:1px solid #cdcdcd;
}
.trade-table{
	width:100%;
	/*min-width: 1500px;*/
	overflow:hidden;
	margin-top:30px;
}
.trade-table table{
	border:0 !important;
	min-width: 1500px;
}
.trade-table thead th{
	height:52px;
	line-height:52px !important;
	/*padding:0px 0px 0px 10px !important;*/
	background:#ff6f41 !important;
	border-color:#ffa289 !important;
	border-bottom:1px solid #ff6f41 !important;
	font-weight:bold !important;
	outline:none !important;
	color:#fff;
}
.trade-table thead th:first-child{
	/*padding:0px 0px 0px 40px !important;*/
	text-align:center;
}
.trade-table thead th:last-child{
	text-align:center;
}
.trade-table tbody td{
	height:52px;
	line-height:52px !important;
	padding:0px 0px 0px 10px !important;
	font-size:12px;
}
.trade-table tbody td:first-child{
	padding:0px 0px 0px 40px !important;
}
.trade-table tbody tr:nth-child(odd)>td{
    background:#ffffff !important;
}
.trade-table tbody tr:nth-child(even)>td{
    background:#f5f5f5 !important;
}
.trade-table .table-hover tbody tr:hover td{
	background:#fcece0 !important;
}
.trade-btn-table{
	width:64px;
	height:26px;
	line-height:26px;
	padding:0px;
	border:0;
	background:none;
	outline:none;
}
.trade-btn-table:hover{
	background:#ff6f41;
	color:#fff;
	border-radius:20px;
}

.trade-btn-disable{
	width:64px;
	height:26px;
	line-height:26px;
	padding:0px;
	border:0;
	background:none;
	outline:none;
}
.trade-table .pagination-detail{
	margin-top:12px;
	margin-left:40px;
}
.trade-table .dropdown-toggle{
	width:47px;
	height:32px;
	line-height:30px;
	padding:0px;
	color:#333 !important;
	background:#f5f5f5 !important;
	outline:none;
	border:1px solid #e1e1e1;
	border-radius:2px;
}
.trade-table .dropdown-toggle .caret{
	color:#878787 !important;
	margin-top:-1px !important;
}
.trade-table .dropdown-menu{
	min-width:47px;
	margin-bottom:0px;
}
.trade-table div.pagination{
	margin:0px 0px 65px 0px;
}
.trade-table ul.pagination{
	margin:10px 25px 20px 0px;
}
.trade-table ul.pagination a{
	padding:9px 14px;
	margin-right:14px;
	border-radius:3px !important;
	color:#4c4c4c;
	font-size:12px;
}
.trade-table ul.pagination li.page-pre a{
	padding:9px 11.5px;
}
.trade-table ul.pagination li.page-pre em{
	display:inline-block;
	border-color:transparent #878787 transparent transparent;
	border-style:solid;
	border-width:6px;
	position:relative;
	top:2px;
	left:-4px;
}
.trade-table ul.pagination li.page-next a{
	padding:9px 11.5px;
}
.trade-table ul.pagination li.page-next em{
	display:inline-block;
	border-color:transparent transparent transparent #878787;
	border-style:solid;
	border-width:6px;
	position:relative;
	top:2px;
	left:4px;
}
.trade-table ul.pagination li.active a,.trade-table ul.pagination li.active a:hover{
	background-color: #ff6f41;
    border-color: #ff6f41;
    color:#fff;
}

.btn-table{
	margin-left: 10px;
}


.form-group:after{
	content: '';
	display: block;
	overflow: hidden;
	height:0;
	clear: both;
}
.control-label{
	text-align: center;
}

/*单选框*/
.radio{
	float: left;
}
.radio:first-child{
	padding-left: 0px;
}
.radio+.radio{
	margin-top: 10px;
}

.btn-table{
	margin-left: 10px;
}